@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 1px);
  }
  40% {
    transform: translate(2px, -1px);
  }
  60% {
    transform: translate(-2px, 1px);
  }
  80% {
    transform: translate(2px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch:hover {
  animation: glitch 200ms infinite;
}

.active-link {
  color: #0199ff !important;
  background-color: #ffcce5 !important;
}
