.left {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .searchControl {
    display: flex;
    align-items: start;
    gap: 5px; //cac ptu tu cach nhau 10px (tu chrome 57)
    min-width: 300px;

    .arrow {
      span {
        display: flex;
        padding: 7px;
        border-radius: 50%;

        &:hover {
          * {
            cursor: pointer;
          }

          background-color: black;

          svg {
            background-color: lavender;
          }
        }
      }
    }
  }

  .suggest {
    margin-top: 50px;
    padding: 10px;
    width: 330.5px;
    left: 0;
    position: absolute;
    height: 450px;
    overflow-y: auto;
    border-right: solid 0.3px black;
    border-bottom: solid 0.3px;
    border-bottom-right-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

    &::-webkit-scrollbar {
      width: 1px;
    }

    .title {
      padding-left: 10px;
    }

    ul {
      list-style: none;
      margin-top: 5px;
    }
  }

  .leftBorder {
    border-right: solid 0.3px black;
  }
}
