.left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .searchControl {
    display: flex;
    align-items: start;
    gap: 5px; //cac ptu tu cach nhau 10px (tu chrome 57)
    min-width: 300px;

    .arrow {
      span {
        display: flex;
        padding: 7px;
        border-radius: 50%;

        &:hover {
          * {
            cursor: pointer;
          }
          background-color: black;
          svg {
            background-color: lavender;
          }
        }
      }
    }
  }
  .suggest {
    margin-top: 40px;
    padding: 25px;
    min-width: 330.5px;
    left: 0;
    position: absolute;
    height: auto;
    border-right: solid 1px black;
    border-bottom: solid 1px ;
    border-bottom-right-radius: 10px;
    ul {
       list-style-type: none;
    }
  }
}
.leftBorder {
    border-right: solid 1px black;
    border-right:solid 0.3px ; 
  }
