.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #232526;
  * {
    background-color: #232526;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .middle {
    display: flex;
    list-style: none;
  }

  .middle li {
    width: 100px;
  }

  .right {
    display: flex;
  }

}
