@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここを追加 */
.editor {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #333;
}

.wrapperClassName {
  background: #e9e9e9;
  padding: 16px;
}

.toolbarClassName {
  padding: 16px;
}

.editorClassName {
  background: #fff;
  padding: 0 8px;
  height: 200px;
}

.App .rdw-editor-main {
  height: 200px;
}