.input {
  display: flex;
  align-items: center;

  input {
    border: 0.7px solid #3A3B3D;
    border-radius: 20px;
    width: 100%;
    min-height: 40px;
    min-width: 200px;
    background-color: #3A3B3D;
    padding-left: 30px;
    font-size: 0.9375rem;
    transition: padding 0.3s ease-out;
    font-weight: lighter;
    &::placeholder {
      color: #B0B3B8;
    }
    &.focus {
      padding-left: 15px;
    }
  }

  span {
    position: absolute;
    margin-left: 10px;
    width: 16px;
    opacity: 1; //do trong suot
    transform: translateX(0); //dang nam bat dau tu vi tri 0 - mac dinh
    transition: opacity 0.1s ease-out, transform 0.1s ease-out; //set viec transition thuc tri trong phamvi bn giay
    background-color: transparent;
    * {
      background-color: transparent;
      color: #B0B3B8;
    }
    &.hidden {
      opacity: 0;
      transform: translateX(-5px);
    }
  }
}
