.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px 0 10px;

  img {
    width: 40px;
    height: 40px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 5px;
    .search {
      display: flex;
      align-items: center;
      input {
        border: 0.7px solid black;
        border-radius: 20px;
        height: 24px;
      }
      span {
        position: absolute;
        margin-left: 5px;
        width: 13px;
        opacity: 1; /* Đảm bảo ban đầu hiển thị */
        transform: translateX(0); /* Đảm bảo ban đầu không di chuyển */
        transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Thêm transition */
      }
      span.hidden {
        opacity: 0;
        transform: translateX(-5px); /* Điều này sẽ đẩy phần tử sang phải khi ẩn */
      }
    }
  }

  .middle {
    display: flex;
    list-style: none;
  }
  
  .middle {
    li {
      width: 100px;
    }
  }
  
  .left {
    display: flex;
  }
}
