.suggestItem {
  display: flex;
  align-items: center;
  margin: 25px 0 0 0 0;
  padding: 10px;
  gap: 10px;

  img {

    border-radius: 50%;

    &.groupType {
      border-radius: 10px;
    }
  }

  div {
    p {
      font-size: medium;
      font-weight: 500;
      margin-bottom: 3px;
    }

    div {
      display: flex;
      align-items: center;
      color: gray;
      font-size: x-small;

      .dot {
        background-color: #0765FF;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin-right: 5px;
      }
    }
  }

  &:hover {
    border-radius: 4px;
  
    &, * {
      cursor: pointer;
      background-color: #3a3b3d;
      .dot {
        background-color: #0765FF;
      }
    }
  }
}