.left {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .searchControl {
    display: flex;
    align-items: start;
    gap: 5px;
    min-width: 300px;
  }
}

.leftBorder {
  border-right: solid 0.3px rgba(0, 0, 0, 0.735);
}
